<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="UTF-8">
	<title>Consulta de Crédito</title>

	<!-- Google Font -->
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap"
		rel="stylesheet" />

	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendors/styles/core.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendors/styles/icon-font.min.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendors/styles/style.min.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendors/styles/loading.css') }}">

	<!-- Scripts -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script src="{{ url_for('static', filename='src/scripts/jquery.min.js') }}"></script>
	<script src="{{ url_for('static', filename='src/scripts/jquery.mask.min.js') }}">
	</script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-maskmoney/3.0.2/jquery.maskMoney.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.5/jquery.inputmask.min.js"></script>


</head>

<body>


	<div class="pd-20 card-box mb-30">
		<div class="clearfix">
			<div class="pull-left">
				<h4 class="text-blue h4">Consulta de Crédito</h4>
				<p class="mb-30">Todas suas consultas, apenas uma vez</p>
			</div>
		</div>



		<form action="/" id="consultaForm" method="post">
			<div class="row">

				<div class="col-md-2 col-sm-12">
					<div class="form-group">
						<label>Digite o CPF do Cliente</label>
						<input type="text" class="form-control" name="cpf_cliente" maxlength="11" />
					</div>
				</div>

				<div class="col-md-2 col-sm-12">
					<div class="form-group">
						<label>Digite a data de nascimento</label>
						<input type="text" class="form-control" name="Data_Nascimento" id="Data_Nascimento" />
					</div>
				</div>

				<div class="col-md-2 col-sm-12">
					<div class="form-group">
						<label>Digite a placa do Veículo</label>
						<input type="text" class="form-control" name="placa" />
					</div>
				</div>

				<div class="col-md-2 col-sm-12">
					<div class="form-group">
						<label>Escolha a marca do Veículo</label>
						<select id="marca_carro" name="marca_carro">
							<option value="ACURA">ACURA</option>
							<option value="AGRALE">AGRALE</option>
							<option value="ALFA ROMEO">ALFA ROMEO</option>
							<option value="AM GEN">AM GEN</option>
							<option value="ASIA MOTORS">ASIA MOTORS</option>
							<option value="ASTON MARTIN">ASTON MARTIN</option>
							<option value="AUDI">AUDI</option>
							<option value="BABY">BABY</option>
							<option value="BMW">BMW</option>
							<option value="BRM">BRM</option>
							<option value="BUGRE">BUGRE</option>
							<option value="BYD">BYD</option>
							<option value="CAB MOTORS">CAB MOTORS</option>
							<option value="CADILLAC">CADILLAC</option>
							<option value="CAOA CHERY">CAOA CHERY</option>
							<option value="CAOA CHERY/CHERY">CAOA CHERY/CHERY</option>
							<option value="CBT JIPE">CBT JIPE</option>
							<option value="CHANA">CHANA</option>
							<option value="CHANGAN">CHANGAN</option>
							<option value="CHRYSLER">CHRYSLER</option>
							<option value="CITROËN">CITROËN</option>
							<option value="CROSS LANDER">CROSS LANDER</option>
							<option value="D2D MOTORS">D2D MOTORS</option>
							<option value="DAEWOO">DAEWOO</option>
							<option value="DAIHATSU">DAIHATSU</option>
							<option value="DODGE">DODGE</option>
							<option value="EFFA">EFFA</option>
							<option value="ENGESA">ENGESA</option>
							<option value="ENVEMO">ENVEMO</option>
							<option value="FERRARI">FERRARI</option>
							<option value="FIAT">FIAT</option>
							<option value="FIBRAVAN">FIBRAVAN</option>
							<option value="FORD">FORD</option>
							<option value="FOTON">FOTON</option>
							<option value="FYBER">FYBER</option>
							<option value="GEELY">GEELY</option>
							<option value="GM - CHEVROLET">GM - CHEVROLET</option>
							<option value="GREAT WALL">GREAT WALL</option>
							<option value="GURGEL">GURGEL</option>
							<option value="GWM">GWM</option>
							<option value="HAFEI">HAFEI</option>
							<option value="HARLEY DAVIDSON">HARLEY DAVIDSON</option>
							<option value="HITECH ELECTRIC">HITECH ELECTRIC</option>
							<option value="HONDA">HONDA</option>
							<option value="HYUNDAI">HYUNDAI</option>
							<option value="ISUZU">ISUZU</option>
							<option value="IVECO">IVECO</option>
							<option value="JAC">JAC</option>
							<option value="JAGUAR">JAGUAR</option>
							<option value="JEEP">JEEP</option>
							<option value="JINBEI">JINBEI</option>
							<option value="JPX">JPX</option>
							<option value="KIA MOTORS">KIA MOTORS</option>
							<option value="LADA">LADA</option>
							<option value="LAMBORGHINI">LAMBORGHINI</option>
							<option value="LAND ROVER">LAND ROVER</option>
							<option value="LEXUS">LEXUS</option>
							<option value="LIFAN">LIFAN</option>
							<option value="LOBINI">LOBINI</option>
							<option value="LOTUS">LOTUS</option>
							<option value="MAHINDRA">MAHINDRA</option>
							<option value="MASERATI">MASERATI</option>
							<option value="MATRA">MATRA</option>
							<option value="MAZDA">MAZDA</option>
							<option value="MCLAREN">MCLAREN</option>
							<option value="MERCEDES-BENZ">MERCEDES-BENZ</option>
							<option value="MERCURY">MERCURY</option>
							<option value="MG">MG</option>
							<option value="MINI">MINI</option>
							<option value="MITSUBISHI">MITSUBISHI</option>
							<option value="MIURA">MIURA</option>
							<option value="NISSAN">NISSAN</option>
							<option value="PEUGEOT">PEUGEOT</option>
							<option value="PLYMOUTH">PLYMOUTH</option>
							<option value="PONTIAC">PONTIAC</option>
							<option value="PORSCHE">PORSCHE</option>
							<option value="RAM">RAM</option>
							<option value="RELY">RELY</option>
							<option value="RENAULT">RENAULT</option>
							<option value="ROLLS-ROYCE">ROLLS-ROYCE</option>
							<option value="ROVER">ROVER</option>
							<option value="SAAB">SAAB</option>
							<option value="SATURN">SATURN</option>
							<option value="SEAT">SEAT</option>
							<option value="SHINERAY">SHINERAY</option>
							<option value="SMART">SMART</option>
							<option value="SSANGYONG">SSANGYONG</option>
							<option value="SUBARU">SUBARU</option>
							<option value="SUZUKI">SUZUKI</option>
							<option value="TAC">TAC</option>
							<option value="TESLA">TESLA</option>
							<option value="TOYOTA">TOYOTA</option>
							<option value="TRIUMPH">TRIUMPH</option>
							<option value="TROLLER">TROLLER</option>
							<option value="VOLVO">VOLVO</option>
							<option value="VW - VOLKSWAGEN">VW - VOLKSWAGEN</option>
							<option value="WAKE">WAKE</option>
							<option value="WALK">WALK</option>
						</select>
					</div>
				</div>

				<div class="col-md-2 col-sm-12">
					<div class="form-group">
						<label>Escolha o ano e combustível do Veículo</label>
						' <select name="ano_combustivel_veiculo" id="ano_combustivel_veiculo">
							<option value="2024 0KM DIESEL">2024 0KM DIESEL</option>
							<option value="2024 0KM GASOLINA">2024 0KM GASOLINA</option>
							<option value="2024 DIESEL">2024 DIESEL</option>
							<option value="2024 GASOLINA">2024 GASOLINA</option>
							<option value="2023 0KM DIESEL">2023 0KM DIESEL</option>
							<option value="2023 0KM GASOLINA">2023 0KM GASOLINA</option>
							<option value="2023 DIESEL">2023 DIESEL</option>
							<option value="2023 GASOLINA">2023 GASOLINA</option>
							<option value="2022 0KM DIESEL">2022 0KM DIESEL</option>
							<option value="2022 0KM GASOLINA">2022 0KM GASOLINA</option>
							<option value="2022 DIESEL">2022 DIESEL</option>
							<option value="2022 GASOLINA">2022 GASOLINA</option>
							<option value="2021 0KM DIESEL">2021 0KM DIESEL</option>
							<option value="2021 0KM GASOLINA">2021 0KM GASOLINA</option>
							<option value="2021 DIESEL">2021 DIESEL</option>
							<option value="2021 GASOLINA">2021 GASOLINA</option>
							<option value="2020 0KM DIESEL">2020 0KM DIESEL</option>
							<option value="2020 0KM GASOLINA">2020 0KM GASOLINA</option>
							<option value="2020 DIESEL">2020 DIESEL</option>
							<option value="2020 GASOLINA">2020 GASOLINA</option>
							<option value="2019 0KM DIESEL">2019 0KM DIESEL</option>
							<option value="2019 0KM GASOLINA">2019 0KM GASOLINA</option>
							<option value="2019 DIESEL">2019 DIESEL</option>
							<option value="2019 GASOLINA">2019 GASOLINA</option>
							<option value="2018 0KM DIESEL">2018 0KM DIESEL</option>
							<option value="2018 DIESEL">2018 DIESEL</option>
							<option value="2018 GASOLINA">2018 GASOLINA</option>
							<option value="2017 DIESEL">2017 DIESEL</option>
							<option value="2017 GASOLINA">2017 GASOLINA</option>
							<option value="2016 DIESEL">2016 DIESEL</option>
							<option value="2016 GASOLINA">2016 GASOLINA</option>
							<option value="2015 DIESEL">2015 DIESEL</option>
							<option value="2015 GASOLINA">2015 GASOLINA</option>
							<option value="2014 DIESEL">2014 DIESEL</option>
							<option value="2014 GASOLINA">2014 GASOLINA</option>
							<option value="2013 DIESEL">2013 DIESEL</option>
							<option value="2013 GASOLINA">2013 GASOLINA</option>
							<option value="2012 DIESEL">2012 DIESEL</option>
							<option value="2012 GASOLINA">2012 GASOLINA</option>
							<option value="2011 DIESEL">2011 DIESEL</option>
							<option value="2011 GASOLINA">2011 GASOLINA</option>
						</select>'
					</div>
				</div>


				<div class="col-md-2 col-sm-12">
					<div class="form-group">
						<label>Digite o UF de licenciamento do Veículo</label>
						<input type="text" class="form-control" name="uf_licenciamento_veiculo"
							id="uf_licenciamento_veiculo" />
					</div>
				</div>

				<div class="col-md-2 col-sm-12">
					<div class="form-group">
						<label>Valor do Veículo</label>
						<input type="text" class="form-control" name="valor_veiculo" id="valor_veiculo" />
					</div>
				</div>

				<div class="col-md-2 col-sm-12">
					<div class="form-group">
						<label>Whatsapp p/ envio</label>
						<input type="text" class="form-control" name="whatsapp" />
					</div>
				</div>
			</div>


			<div class="row">
				<div class="col-md-6 col-sm-12">
					<label class="weight-600">Quais bancos?</label>

					<div class="custom-control custom-checkbox mb-5">
						<input type="checkbox" class="custom-control-input" id="customCheck1-1" name="santander">
						<label class="custom-control-label" for="customCheck1-1">Santander</label>
					</div>

					<div class="custom-control custom-checkbox mb-5">
						<input type="checkbox" class="custom-control-input" id="customCheck2-1" name="itau">
						<label class="custom-control-label" for="customCheck2-1">Itaú</label>
					</div>

				</div>
			</div>


			<button type="submit" class="btn btn-primary btn-lg">Realizar Consulta</button>


			<div class="pre-loader" id="loading">
				<div class="pre-loader-box" id="loading">
					<div class="center-wave" id="loading">
						<div class="wave"></div>
						<div class="wave"></div>
						<div class="wave"></div>
						<div class="wave"></div>
						<div class="wave"></div>
						<div class="wave"></div>
						<div class="wave"></div>
						<div class="wave"></div>
						<div class="wave"></div>
						<div class="wave"></div>
					</div>
				</div>
			</div>
	</div>

	</form>






	<script src="{{ url_for('static', filename='vendors/scripts/process.js') }}"></script>
	<script src="{{ url_for('static', filename='vendors/scripts/layout-settings.js') }}"></script>


	<script>
		$(document).ready(function ($) {
			// Selecione o campo 'valorOrdemServico' e aplique a máscara de moeda brasileira
			$('#valor_veiculo').maskMoney({
				prefix: 'R$ ',
				thousands: '.',
				decimal: ',',
				allowZero: false,
				affixesStay: false
			});

			// Máscara para o campo de whatsapp
			$('input[name="whatsapp"]').mask('+55 (00) 00000-0000');

			// Selecione a div de carregamento
			var loadingDiv = $('#loading');

			$('#consultaForm').submit(function (e) {
				e.preventDefault();

				var santanderChecked = $('input[name="santander"]').is(':checked');
				var itauChecked = $('input[name="itau"]').is(':checked');
				var formData = $('#consultaForm').serialize();

				if (santanderChecked || itauChecked) {
					// Mostrar a div de carregamento somente se uma das opções estiver marcada
					loadingDiv.show();
				}

				if (santanderChecked) {
					// Enviar a solicitação como POST para /automacao
					$.ajax({
						url: "/automacao",
						type: "POST",
						data: formData,
						success: function (data) {
							// Lógica de sucesso
							loadingDiv.hide();
						}
					});
				}

				if (itauChecked) {
					// Enviar a solicitação como POST para /itau
					$.ajax({
						url: "/itau",
						type: "POST",
						data: formData,
						success: function (data) {
							// Lógica de sucesso
							loadingDiv.hide();
						}
					});
				}

				return false;
			});

			// Oculte o loading no início
			loadingDiv.hide();
		});
	</script>

</body>

</html>