<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="UTF-8">
	<title>Consulta de Crédito</title>

	<!-- Google Font -->
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap"
		rel="stylesheet" />

	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendors/styles/core.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendors/styles/icon-font.min.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendors/styles/style.min.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendors/styles/loading.css') }}">

	<!-- Scripts -->
{#    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>#}
	<script src="{{ url_for('static', filename='src/scripts/jquery.min.js') }}"></script>
	<script src="{{ url_for('static', filename='src/scripts/jquery.mask.min.js') }}">
	</script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-maskmoney/3.0.2/jquery.maskMoney.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.5/jquery.inputmask.min.js"></script>


</head>

<body>


	<div class="pd-20 card-box mb-30">
		<div class="clearfix">
			<div class="pull-left">
				<h4 class="text-blue h4">Consulta de Crédito</h4>
				<p class="mb-30">Todas suas consultas, apenas uma vez</p>
			</div>
		</div>



		<form action="/" id="consultaForm" method="post">
			<div class="row">

				<div class="col-md-2 col-sm-12">
					<div class="form-group">
						<label>Digite o CPF do Cliente</label>
						<input type="text" class="form-control" name="cpf_cliente" maxlength="11" />
					</div>
				</div>

				<div class="col-md-2 col-sm-12">
					<div class="form-group">
						<label>Digite a data de nascimento</label>
						<input type="text" class="form-control" name="Data_Nascimento" id="Data_Nascimento" />
					</div>
				</div>

				<div class="col-md-2 col-sm-12">
					<div class="form-group">
						<label>Digite a placa do Veículo</label>
						<input type="text" class="form-control" name="placa" />
					</div>
				</div>

                <form action="" method="get">
	            <label for="marca">Marca:</label>
	            <select name="marca" id="marca" class="custom-select">
		            <option value="" selected>Selecione a Marca</option>
		        <!-- Opções de marca serão carregadas via AJAX -->
	            </select>

	            <label for="modelo">Modelo:</label>
	            <select name="modelo" id="modelo" disabled class="custom-select">
		            <option value="" selected>Selecione o Modelo</option>
		            <!-- Opções de modelo serão carregadas via AJAX -->
	            </select>
                </form>

				<div class="col-md-2 col-sm-12">
					<div class="form-group">
						<label>Escolha o ano e combustível do Veículo</label>
						' <select name="ano_combustivel_veiculo" id="ano_combustivel_veiculo" class="custom-select">
                            <option selected="">Combustível ... </option>
							<option value="2024 0KM DIESEL">2024 0KM DIESEL</option>
							<option value="2024 0KM GASOLINA">2024 0KM GASOLINA</option>
							<option value="2024 DIESEL">2024 DIESEL</option>
							<option value="2024 GASOLINA">2024 GASOLINA</option>
							<option value="2023 0KM DIESEL">2023 0KM DIESEL</option>
							<option value="2023 0KM GASOLINA">2023 0KM GASOLINA</option>
							<option value="2023 DIESEL">2023 DIESEL</option>
							<option value="2023 GASOLINA">2023 GASOLINA</option>
							<option value="2022 0KM DIESEL">2022 0KM DIESEL</option>
							<option value="2022 0KM GASOLINA">2022 0KM GASOLINA</option>
							<option value="2022 DIESEL">2022 DIESEL</option>
							<option value="2022 GASOLINA">2022 GASOLINA</option>
							<option value="2021 0KM DIESEL">2021 0KM DIESEL</option>
							<option value="2021 0KM GASOLINA">2021 0KM GASOLINA</option>
							<option value="2021 DIESEL">2021 DIESEL</option>
							<option value="2021 GASOLINA">2021 GASOLINA</option>
							<option value="2020 0KM DIESEL">2020 0KM DIESEL</option>
							<option value="2020 0KM GASOLINA">2020 0KM GASOLINA</option>
							<option value="2020 DIESEL">2020 DIESEL</option>
							<option value="2020 GASOLINA">2020 GASOLINA</option>
							<option value="2019 0KM DIESEL">2019 0KM DIESEL</option>
							<option value="2019 0KM GASOLINA">2019 0KM GASOLINA</option>
							<option value="2019 DIESEL">2019 DIESEL</option>
							<option value="2019 GASOLINA">2019 GASOLINA</option>
							<option value="2018 0KM DIESEL">2018 0KM DIESEL</option>
							<option value="2018 DIESEL">2018 DIESEL</option>
							<option value="2018 GASOLINA">2018 GASOLINA</option>
							<option value="2017 DIESEL">2017 DIESEL</option>
							<option value="2017 GASOLINA">2017 GASOLINA</option>
							<option value="2016 DIESEL">2016 DIESEL</option>
							<option value="2016 GASOLINA">2016 GASOLINA</option>
							<option value="2015 DIESEL">2015 DIESEL</option>
							<option value="2015 GASOLINA">2015 GASOLINA</option>
							<option value="2014 DIESEL">2014 DIESEL</option>
							<option value="2014 GASOLINA">2014 GASOLINA</option>
							<option value="2013 DIESEL">2013 DIESEL</option>
							<option value="2013 GASOLINA">2013 GASOLINA</option>
							<option value="2012 DIESEL">2012 DIESEL</option>
							<option value="2012 GASOLINA">2012 GASOLINA</option>
							<option value="2011 DIESEL">2011 DIESEL</option>
							<option value="2011 GASOLINA">2011 GASOLINA</option>
						</select>'
					</div>
				</div>


				<div class="col-md-2 col-sm-12">
					<div class="form-group">
						<label>Digite o UF de licenciamento do Veículo</label>
						<input type="text" class="form-control" name="uf_licenciamento_veiculo"
							id="uf_licenciamento_veiculo" />
					</div>
				</div>

				<div class="col-md-2 col-sm-12">
					<div class="form-group">
						<label>Valor do Veículo</label>
						<input type="text" class="form-control" name="valor_veiculo" id="valor_veiculo" />
					</div>
				</div>

				<div class="col-md-2 col-sm-12">
					<div class="form-group">
						<label>Whatsapp p/ envio</label>
						<input type="text" class="form-control" name="whatsapp" />
					</div>
				</div>
			</div>


			<div class="row">
				<div class="col-md-6 col-sm-12">
					<label class="weight-600">Quais bancos?</label>

					<div class="custom-control custom-checkbox mb-5">
						<input type="checkbox" class="custom-control-input" id="customCheck1-1" name="santander">
						<label class="custom-control-label" for="customCheck1-1">Santander</label>
					</div>

					<div class="custom-control custom-checkbox mb-5">
						<input type="checkbox" class="custom-control-input" id="customCheck2-1" name="itau">
						<label class="custom-control-label" for="customCheck2-1">Itaú</label>
					</div>

				</div>
			</div>


			<button type="submit" class="btn btn-primary btn-lg">Realizar Consulta</button>


			<div class="pre-loader" id="loading">
				<div class="pre-loader-box" id="loading">
					<div class="center-wave" id="loading">
						<div class="wave"></div>
						<div class="wave"></div>
						<div class="wave"></div>
						<div class="wave"></div>
						<div class="wave"></div>
						<div class="wave"></div>
						<div class="wave"></div>
						<div class="wave"></div>
						<div class="wave"></div>
						<div class="wave"></div>
					</div>
				</div>
			</div>
	</div>

	</form>






	<script src="{{ url_for('static', filename='vendors/scripts/process.js') }}"></script>
	<script src="{{ url_for('static', filename='vendors/scripts/layout-settings.js') }}"></script>


	<script>
		$(document).ready(function ($) {
			// Selecione o campo 'valorOrdemServico' e aplique a máscara de moeda brasileira
			$('#valor_veiculo').maskMoney({
				prefix: 'R$ ',
				thousands: '.',
				decimal: ',',
				allowZero: false,
				affixesStay: false
			});

			// Máscara para o campo de whatsapp
			$('input[name="whatsapp"]').mask('+55 (00) 00000-0000');

			// Selecione a div de carregamento
			var loadingDiv = $('#loading');

			$('#consultaForm').submit(function (e) {
				e.preventDefault();

				var santanderChecked = $('input[name="santander"]').is(':checked');
				var itauChecked = $('input[name="itau"]').is(':checked');
				var formData = $('#consultaForm').serialize();

				if (santanderChecked || itauChecked) {
					// Mostrar a div de carregamento somente se uma das opções estiver marcada
					loadingDiv.show();
				}

				if (santanderChecked) {
					// Enviar a solicitação como POST para /automacao
					$.ajax({
						url: "/automacao",
						type: "POST",
						data: formData,
						success: function (data) {
							// Lógica de sucesso
							loadingDiv.hide();
						}
					});
				}

				if (itauChecked) {
					// Enviar a solicitação como POST para /itau
					$.ajax({
						url: "/itau",
						type: "POST",
						data: formData,
						success: function (data) {
							// Lógica de sucesso
							loadingDiv.hide();
						}
					});
				}

				return false;
			});

			// Oculte o loading no início
			loadingDiv.hide();
		});
	</script>

</body>
<script>
    $(document).ready(function() {
    // Função para carregar as marcas
    function carregarMarcas() {
        $.ajax({
            url: '/marcas',
            type: 'GET',
            dataType: 'json',
            success: function(data) {
                var selectMarcas = $('#marca');
                selectMarcas.empty().append('<option value="" selected>Selecione a Marca</option>');

                $.each(data, function(index, marca) {
                    selectMarcas.append('<option value="' + marca.code + '">' + marca.name + '</option>');
                });
            },
            error: function(xhr, status, error) {
                console.error("Erro na solicitação AJAX para marcas:", status, error);
            }
        });
    }

    // Carregar as marcas ao carregar a página
    carregarMarcas();

    // Função para carregar os modelos com base na marca selecionada
    $('#marca').on('change', function() {
        var marcaSelecionada = $(this).val();
        $('#modelo').prop('disabled', true);

        $.ajax({
            url: '/modelos/' + marcaSelecionada,
            type: 'GET',
            dataType: 'json',
            success: function(data) {
                var selectModelos = $('#modelo');
                selectModelos.empty().append('<option value="" selected>Selecione o Modelo</option>');

                $.each(data, function(index, modelo) {
                    selectModelos.append('<option value="' + modelo.code + '">' + modelo.name + '</option>');
                });

                $('#modelo').prop('disabled', false);
            },
            error: function(xhr, status, error) {
                console.error("Erro na solicitação AJAX para modelos:", status, error);
            }
        });
    });
});

</script>

</html>